pip install opencv-python
pip install numpy
pip install cmake
pip install dlib
pip install face-recognition
pip install openpyxl
pip install imutils
pip install smtplib
pip install scipy
pip install DateTime